*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
header, main, footer{
    width: 100%;
}
header{
    height: 10%;
    background: linear-gradient(#EC407A, #42A5F5);
}
h1, ul{
    width: 50%;
    height: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    width: 40%;
    height: 50%;
    border-radius: 20px;
}
li:hover{
    background: linear-gradient(#F06292, #81D4FA, #F06292);
    transition: 2s;
}
section{
    flex-wrap: wrap;
    margin-top: 15px;
}
.conteinerProdutoFem, .conteinerProdutoMas{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    position: relative;
}
.conteinerProdutoFem:hover{
    background: linear-gradient(#FCE4EC, #F06292);
}
.conteinerProdutoMas:hover{
    background: linear-gradient(#E1F5FE, #81D4FA);
}
.preco{
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background: linear-gradient(#F06292, #81D4FA);
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: white;
}
footer{
    height: 10%;
    background: linear-gradient(#42A5F5, #EC407A);
    position: fixed;
    bottom: 0;
}figure, img{
    width: 100%;
    height: 100%;
}
h2{
    color: black;
}
div{
    cursor: pointer;
    color: #000;
}
a{
    text-decoration: none;
}
.material-icons{
    color: red !important;
}
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tipoETamanhoFonte{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(0.6rem, 1.6vw, 1.8rem);
    color: white;
}